<div class='row button-container'>
  <div class='col-xs-12 col-md-6 col-lg-4 mt-4' *ngFor="let button of buttonData; index as idx">
    <ng-template #tipContent>
      <div class='tooltip-container'>
        <span>{{button.tooltip}}</span>
      </div>
    </ng-template>
    <button 
      [id]="button.id"
      type="button"
      [attr.aria-labelledby]="button.name"
      [attr.tabindex]="idx + 1"
      [placement]="button.placement || 'top'"
      role="tooltip button"
      [ngClass]="resolveOutlineColor(idx)"
      [ngbTooltip]="tipContent"
      triggers="click:blur enter">
      {{button.name}}
    </button>
  </div>
</div>
